/*fonts*/
@font-face {
  font-family: "Alegreya Sans Light";
  src: url("fonts/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "Alegreya Sans ExtraBold";
  src: url("fonts/AlegreyaSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Alegreya Sans Light";
  src: url("fonts/AlegreyaSans-Light.ttf")
}

html,body {
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Alegreya Sans Light', sans-serif;
  font-size: 14pt;
  color: white;
  text-align: center;
  line-height: normal;
}

h1 {
  font-family: 'Alegreya Sans Light', sans-serif;
  font-size: 25pt;
  width: 400px;
  position: relative;
  left: 50%;
  margin-left: -50%;
  color: #282f51;
  text-align: center;
  line-height: normal;
}

h2 {
  not being used
}

h3 {
  font-family: 'Alegreya Sans ExtraBold', sans-serif;
  font-size: 40pt;
  color: #282f51;
  text-align: center;
  line-height: normal;
}

h4 {
  font-family: 'Alegreya Sans ExtraBold', sans-serif;
  font-size: 40pt;
  color: #282f51;
  font-weight: 600;
  text-align: center;
  line-height: normal;
  z-index: 1;
}

h5 {
  font-family: 'Alegreya Sans ExtraBold', sans-serif;
  font-size: 40pt;
  color: white;
  text-align: center;
  line-height: normal;
}

h6 {
  font-family: 'Alegreya Sans ExtraBold', sans-serif;
  font-size: 55pt;
  width: 400px;
  color: #d65858;
  text-align: center;
  line-height: 55pt;
}



/*page setup*/

#wrapper {
  width: 1120px;
  height: 4650px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding-left: 160px;
  padding-right: 160px;
  background: linear-gradient(#b9e6ed, #3a6c84);
}

.section_top {
  width: 100%;
  height: 700px;
  position: relative;
}

.section {
  width: 100%;
  height: 768.5px;
  position: relative;
}

.vertical_center {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

@keyframes grow1 {
  0% { -webkit-transform: rotate(0deg); width: 28%;}
  50% { -webkit-transform: rotate(0deg); width: 30%;}
  100% { -webkit-transform: rotate(0deg); width: 28%;}
}

.coral1 {
  width: 30%;
  z-index: 10;
  position: absolute;
  top: -190px;
  left: -150px;

  animation: grow1 6s infinite;
}

@keyframes grow2 {
  0% { -webkit-transform: rotate(0deg); width: 18%;}
  50% { -webkit-transform: rotate(0deg); width: 19%;}
  100% { -webkit-transform: rotate(0deg); width: 18%;}
}

.coral2 {
  width: 20%;
  z-index: 11;
  position: absolute;
  top: -120px;
  left: 200px;

  animation: grow2 4s infinite;
}

@keyframes grow3 {
  0% { -webkit-transform: rotate(0deg); width: 38%;}
  50% { -webkit-transform: rotate(0deg); width: 40%;}
  100% { -webkit-transform: rotate(0deg); width: 38%;}
}

.coral3 {
  width: 40%;
  z-index: 10;
  position: absolute;
  top: -325px;
  left: 1050px;

  animation: grow3 8s infinite;
}

@keyframes grow4 {
  0% { -webkit-transform: rotate(0deg); width: 23%;}
  50% { -webkit-transform: rotate(0deg); width: 24%;}
  100% { -webkit-transform: rotate(0deg); width: 23%;}
}

.coral4 {
  width: 25%;
  z-index: 10;
  position: absolute;
  top: -220px;
  left: 900px;;

  animation: grow4 3s infinite;
}

.coral1_2 {
  width: 30%;
  z-index: 10;
  position: absolute;
  top: 800px;
  left: -200px;
  transform: rotate(200deg);
}

.coral2_2 {
  width: 30%;
  z-index: 10;
  position: absolute;
  top: 800px;
  left: 1100px;
  transform: rotate(90deg);
}

.coral3_2 {
  width: 25%;
  z-index: 11;
  position: absolute;
  top: 1900px;
  left: -100px;
  transform: rotate(-90deg);
}

.coral4_2 {
  width: 30%;
  z-index: 10;
  position: absolute;
  top: 1900px;
  left: 1100px;
  transform: rotate(170deg);
}

@-webkit-keyframes woah {
	0% 	{ -webkit-transform: rotate(0deg); width: 0px; height: 0px; top: 350px; border-radius: 100%; opacity: 1; }
	100%	{ -webkit-transform: rotate(0deg); width: 500px; height: 500px; top: 100px; border-radius: 100%; opacity: 0; }

}

@-webkit-keyframes woah2 {
	0% 	{ -webkit-transform: rotate(0deg); width: 0px; height: 0px; top: 375px; border-radius: 100%; opacity: 1; }
	100%	{ -webkit-transform: rotate(0deg); width: 500px; height: 500px; top: 125px; border-radius: 100%; opacity: 0; }

}

.radar1 {
  width: 0px;
  height: 0px;
  border: 1px solid #282f51;
  position: relative;
  z-index: 0;
  top: 350px;
  margin: 0 auto;

  animation: woah 2s infinite cubic-bezier(1,1,1,1);
}

.radar2 {
  width: 0px;
  height: 0px;
  border: 1px solid white;
  position: relative;
  z-index: 0;
  top: 375px;
  margin: 0 auto;

  animation: woah2 2s infinite cubic-bezier(1,1,1,1);
}

.column1 {
  position: relative;
  width: 33.333%;
  height: 100%;
  float: left;
  background-color: none;
  text-align: center;
  margin: auto;
}

.column2 {
  position: relative;
  width: 33.333%;
  height: 100%;
  float: left;
  background-color: none;
  text-align: center;
}

.column3 {
  position: relative;
  width: 33.333%;
  height: 100%;
  float: left;
  background-color: none;
  text-align: center;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.7);
  width: 257px;
  height: 257px;
  margin: 0 auto;
  position: absolute;
  left: 58.165px;
	border-radius: 50%;
  text-align: center;

  animation: bubble 1s;
  animation-fill-mode: forwards;
}

@keyframes bubble {
  0% { -webkit-transform: rotate(0deg); width: 157px; height: 157px; top: 50px; left: 108.165px; border-radius: 100%; background-color: rgba(255,255,255,0);}
  100% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 0px; left: 58.165px; border-radius: 100%; background-color: rgba(255,255,255,0.7);}
}


@keyframes bubblehover {
  0% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 0px; left: 58.165px; border-radius: 100%; background-color: rgba(255,255,255,0.7);}
  100% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: -50px; left: 8.165px; border-radius: 100%; background-color: rgba(255,255,255,0);}
}

.bubble:hover {
    animation: bubblehover 1s;
    animation-fill-mode: forwards;
}

.bubble2 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 257px;
  height: 257px;
  margin: auto;
  position: relative;
  border-radius: 50%;
  text-align: center;
  top: 257px;

  animation: bubble2 1s;
  animation-fill-mode: forwards;
}

@keyframes bubble2 {
  0% { -webkit-transform: rotate(0deg); width: 157px; height: 157px; top: 307px; border-radius: 100%; background-color: rgba(255,255,255,0);}
  100% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 257px; border-radius: 100%; background-color: rgba(255,255,255,0.7);}
}

@keyframes bubble2hover {
  0% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 257px; background-color: rgba(255,255,255,0.7);}
  100% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 207px; background-color: rgba(255,255,255,0);}
}

.bubble2:hover {
  animation: bubble2hover 1s;
  animation-fill-mode: forwards;
}

.bubble3 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 257px;
  height: 257px;
  margin: auto;
  position: relative;
  border-radius: 50%;
  text-align: center;
  top: 514px;

  animation: bubble3 1s;
  animation-fill-mode: forwards;
}

@keyframes bubble3 {
  0% { -webkit-transform: rotate(0deg); width: 157px; height: 157px; top: 564px; border-radius: 100%; background-color: rgba(255,255,255,0);}
  100% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 514px; border-radius: 100%; background-color: rgba(255,255,255,0.7);}
}

@keyframes bubble3hover {
  0% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 514px; background-color: rgba(255,255,255,0.7);}
  100% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 464px; background-color: rgba(255,255,255,0);}
}

.bubble3:hover {
  animation: bubble3hover 1s;
  animation-fill-mode: forwards;
}


.bubble4 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 257px;
  height: 257px;
  margin: 0 auto;
  position: absolute;
  top: 240px;
  left: 58.165px;
	border-radius: 50%;
  text-align: center;

  animation: bubble4 1s;
  animation-fill-mode: forwards;
}

@keyframes bubble4 {
  100% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 240px; left: 58.165px; border-radius: 100%; opacity: 1;}
  0% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 190px; left: 8.165px; border-radius: 100%; opacity: 1;}
}


@keyframes bubble4hover {
  0% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 240px; left: 58.165px; border-radius: 100%; opacity: 1;}
  100% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 190px; left: 8.165px; border-radius: 100%; opacity: 1;}
}

.bubble4:hover {
    animation: bubble4hover 1s;
    animation-fill-mode: forwards;
}



.bubble5 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 257px;
  height: 257px;
  margin: 0 auto;
  position: absolute;
  top: 390px;
  left: 431.495px;
	border-radius: 50%;
  text-align: center;

  animation: bubble5 1s;
  animation-fill-mode: forwards;
}

@keyframes bubble5 {
  100% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 390px; left: 431.495px; border-radius: 100%; opacity: 1;}
  0% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 340px; left: 381.495px; border-radius: 100%; opacity: 1;}
}


@keyframes bubble5hover {
  0% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 390px; left: 431.495px; border-radius: 100%; opacity: 1;}
  100% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 340px; left: 381.495px; border-radius: 100%; opacity: 1;}
}

.bubble5:hover {
    animation: bubble5hover 1s;
    animation-fill-mode: forwards;
}



.bubble6 {
  background-color: rgba(255, 255, 255, 0.7);
  width: 257px;
  height: 257px;
  margin: 0 auto;
  position: absolute;
  top: 240px;
  left: 804.826px;
	border-radius: 50%;
  text-align: center;

  animation: bubble6 1s;
  animation-fill-mode: forwards;
}

@keyframes bubble6 {
  100% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 240px; left: 804.826px; border-radius: 100%; opacity: 1;}
  0% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 190px; left: 754.826px; border-radius: 100%; opacity: 1;}
}

@keyframes bubble6hover {
  0% { -webkit-transform: rotate(0deg); width: 257px; height: 257px; top: 240px; left: 804.826px; border-radius: 100%; opacity: 1;}
  100% { -webkit-transform: rotate(0deg); width: 357px; height: 357px; top: 190px; left: 754.826px; border-radius: 100%; opacity: 1;}
}

.bubble6:hover {
    animation: bubble6hover 1s;
    animation-fill-mode: forwards;
}





.unit {
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column4 {
  width: 20%;
  height: 50%;
  float: left;
  padding-left: 2.5%;
  padding-right: 2.5%;

}

.display1 {
  width: 90%;
  display: block;
  margin: auto;
  position: relative;

  animation: slide 5s infinite linear;
}

@keyframes slide {
  0%,100% { -webkit-transform: rotate(0deg); bottom: -50px; opacity: 1;}
  50% { -webkit-transform: rotate(0deg); bottom: 0px; opacity: 1;}
}

.display2 {
  width: 90%;
  display: block;
  margin: auto;
  position: relative;

  animation: slide2 5s infinite linear;
}

@keyframes slide2 {
  0%,100% { -webkit-transform: rotate(0deg); bottom: 0px; opacity: 1;}
  50% { -webkit-transform: rotate(0deg); bottom: -50px; opacity: 1;}
}

.column5 {
  width: 28.333%;
  height: 476.5px;
  float: left;
  background-color: none;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.coralwhite1 {
  width: 30%;
  z-index: 10;
  position: absolute;
  bottom: -200px;
  left: -150px;

  animation: white1 6s infinite;
}

@keyframes white1 {
  0% { -webkit-transform: rotate(0deg); width: 28%;}
  50% { -webkit-transform: rotate(0deg); width: 30%;}
  100% { -webkit-transform: rotate(0deg); width: 28%;}
}

.coralwhite2 {
  width: 20%;
  z-index: 11;
  position: absolute;
  bottom: -120px;
  left: 200px;

  animation: white2 4s infinite;
}

  @keyframes white2 {
  0% { -webkit-transform: rotate(0deg); width: 18%;}
  50% { -webkit-transform: rotate(0deg); width: 20%;}
  100% { -webkit-transform: rotate(0deg); width: 18%;}
}

.coralwhite3 {
  width: 40%;
  z-index: 10;
  position: absolute;
  bottom: -325px;
  left: 1050px;

  animation: white3 8s infinite;
}

  @keyframes white3 {
  0% { -webkit-transform: rotate(0deg); width: 38%;}
  50% { -webkit-transform: rotate(0deg); width: 40%;}
  100% { -webkit-transform: rotate(0deg); width: 38%;}
}

.coralwhite4 {
  width: 25%;
  z-index: 10;
  position: absolute;
  bottom: -210px;
  left: 900px;

  animation: white4 5s infinite;
}

  @keyframes white4 {
  0% { -webkit-transform: rotate(0deg); width: 23%;}
  50% { -webkit-transform: rotate(0deg); width: 25%;}
  100% { -webkit-transform: rotate(0deg); width: 23%;}
}


a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #282f51;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
